html, body {
  height: 100%;
}

body {
  background-color:#47596b;  
  color: white;
  margin: 0;
}

.title{
  font-family: arial, sans-serif;
  font-weight: bold;
  height: 50px;

}

.app{
  text-align: center;
}

.questionData{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

#dec{
  border-radius: 2px;
  padding: 12px 28px;
  color: #FFF;
  background-color: #EF5350;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #EF5350;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

#inc{
  border-radius: 2px;
  padding: 12px 28px;
  color: #FFF;
  background-color: #83D97C;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #83D97C;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

#reset{
  color: white;
  border-radius: 2px;
  padding: 12px 28px;
  border-radius: 2px;
  background-color: #555555;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #383838;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.getclue_btn{
  background-color: #f0c710;
  border-radius: 12px;
  padding: 12px 28px;
}
#reveal{
  background-color: #24d1fc;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #24d1fc;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.Answer{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #83D97C;
}

h3{
  color:#F4D03F;
}

.trivia_button{
  background-color: #F4D03F;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #F4D03F;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.points2 {
  color: #F4D03F;
}
/* .score{
  justify-content:space-evenly; 
} */

