.container {
  display: grid;
  grid-template-columns: repeat (3, 1fr) ;
  grid-template-rows: 100px; 
  grid-gap: 10px;
  grid-template-areas: 
    "input";
}

.list{
    list-style: none;
    text-align: center;
  }
  button{
      background-color: #fbaea8;
      color: white;
  }
 
  label {
      display: flex;
      justify-content: center;
  }
  #me{
      background-color:#fbaea8;;
      color:white;
  }
  
  body{
      padding: 0;
      margin: 0;
      background-color: #aad2ed;  
      font-family: 'Varela Round', sans-serif;
      font-weight: bold;
      color: #fff;
      justify-content: center;
      display: flex; 
  }